{% extends 'index.html' %}

{% block content %}
<style>
    h1 {
        color: rgb(9, 60, 60);
        text-align: center;
        margin-top: 20px;
        font-size: 45px;
    }

    h2 {
        color: rgb(167, 6, 254);
        text-align: center;
        margin-top: 10px;
    }

    p {
        text-align: center;
        margin-top: 20px;
        color: rgb(0, 0, 0);
    }
</style>

<h1>Welcome to the <span style="color: red;">Coding Club</span></h1>

<h2>Take one step to learn with us !</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore facilis temporibus repellat quisquam error quo quae
    vitae maxime sit! Exercitationem fugit, laboriosam libero cum aliquam hic obcaecati natus neque tenetur officiis quo
    ab odio facere quibusdam, nam tempora molestiae qui quisquam sit sequi ad ullam? Nihil cupiditate provident dolorum
    deserunt.Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore facilis temporibus repellat quisquam error
    quo quae
    vitae maxime sit! Exercitationem fugit.</p>

{% endblock %}